---
---
{% include css/bootstrap.min.css %}

body {
  color: #7f7f7f;
  margin: 0 15px 15px 0;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 27px;
}

a {
  color: #3681C3;
}

a:hover {
  color: #3681C3;
}

hr {
  border-color: #EEEEEE;
}

.site-name {
  color: #3f3f3f;
}

.site-name:hover {
  text-decoration: none;
  color: #3f3f3f;
}

.main-sidebar {
  position: fixed;
  width: 230px;
  margin-left: 15px;
  font-size: 14px;
}

h2 {
  color: black;
}

h1 {
  margin-top: 0;
  font-size: 32px ;
  font-weight: 200;
  line-height: 50px;
}

.subtitle {
  font-size: 18px;
  color: #7f7f7f;
}

.section-title {
  font-size: 13px;
  color: #7f7f7f;
  text-transform: uppercase;
}

.byline {
  font-size: 12px;
  color: #bfbfbf;
}

.main-container {
  margin: 15px 0 0 310px;
}

.main-sidebar-logo {
  width: 180px;
}

.main-sidebar-hr {
  margin: 10px 0;
}

.screenshot-link:hover {
  text-decoration: none;
}

.posts, .featured-posts {
  max-width: 955px;
}

.posts li {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 35px;
  padding-bottom: 25px;
}

.post-description {
  text-align: center;
  margin-top: 20px;
}

.post-description-title {
  margin: 0 auto 10px;
  font-size: 37px;
}

.post-description-date {
  color: #a2a2a2;
  margin: 0 0 10px;
}

.post-description-link {
  color: black;
}

/*************/
/* Paginator */
/*************/
.paginator {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 955px;
  margin-bottom: 40px;
}

.paginate {
  width: 25%;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.paginate.older {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.paginate.newer {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #e5e5e5;
}

span.paginate {
  color: #bfbfbf;
}

a.paginate:hover {
  background-color: #3681C3;
  text-decoration: none;
  color: white;
  border-color: #3681C3;
}


/************/
/* Browser */
/************/
.browser-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.browser-container {
  border: 1px solid #F1F1F1;
  border-top: 0 none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.browser-container > p {
  padding: 0;
  margin: 0;
}

.browser-container img {
  width: 100%;
  max-width: 1000px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


/************/
/* Featured */
/************/
.featured-posts {
  position:relative;
  display: block;
  margin-bottom: 50px;
  padding-bottom: 25px;
  line-height: normal;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.featured-posts-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.featured-posts-container * { white-space: normal; }

.featured-posts .posts { white-space: nowrap; }
.featured-posts .posts > li {
  display: inline-block;
  vertical-align: top;
  max-width: 225px;
  padding: 0;
  margin: 0 10px 0 0;
  border-bottom: none;
}
.featured-posts .posts > li:nth-last-child { margin-right: 0; }

.featured-posts .post-description { margin-top: 10px; }
.featured-posts .post-description-title { font-size: 16px; }
.featured-posts .post-description-date { font-size: 12px; }

.featured-posts-goprev,
.featured-posts-gonext {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 245px;
  background-color: rgba(255,255,255,.95);

  /* hidden and not there by default */
  opacity:0;
  top:-4000px;

  /* 1. first transition opacity */
  /* 2. then delay positioning */
  transition: opacity .2s linear 0s, top 0s linear .6s;
  -webkit-transition: opacity .2s linear 0s, top 0s linear .6s;
  -moz-transition: opacity .2s linear 0s, top 0s linear .6s;
  -ms-transition: opacity .2s linear 0s, top 0s linear .6s;
}
.featured-posts-goprev { left: 0px; border-right: 1px solid #ccc; }
.featured-posts-gonext { right: 0px; border-left: 1px solid #ccc; }

.featured-posts-goprev.visible,
.featured-posts-gonext.visible {
  opacity: 1;
  top: 0px;

  /* 1. restore position immediately */
  /* 2. then transition opacity almost immediately */
  transition: top 0s linear 0s, opacity .2s linear .1s;
  -webkit-transition: top 0s linear 0s, opacity .2s linear .1s;
  -moz-transition: top 0s linear 0s, opacity .2s linear .1s;
  -ms-transition: top 0s linear 0s, opacity .2s linear .1s;
}

/* background svg arrows */
.featured-posts-goprev:after,
.featured-posts-gonext:after {
  content:'';
  display: inline-block;
  width: 24px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  padding: 22px;
}
.featured-posts-goprev:after { background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBwb2ludHM9IjM1MiwxMjguNCAzMTkuNyw5NiAxNjAsMjU2IDE2MCwyNTYgMTYwLDI1NiAzMTkuNyw0MTYgMzUyLDM4My42IDIyNC43LDI1NiAiLz48L3N2Zz4=); }
.featured-posts-gonext:after { background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBwb2ludHM9IjE2MCwxMjguNCAxOTIuMyw5NiAzNTIsMjU2IDM1MiwyNTYgMzUyLDI1NiAxOTIuMyw0MTYgMTYwLDM4My42IDI4Ny4zLDI1NiAiLz48L3N2Zz4=); }


/* xs */
@media (min-width: 0px) and (max-width: 767px) {
  .main-sidebar {
    position: inherit;
    margin: 20px;
    width: 100%;
  }

  .main-sidebar-hr {
    margin: 20px 20px 20px 0;
  }

  .main-container {
    margin: 15px 0 0 20px;
  }

/*  .browser-top {
    height: 24px;
  }*/

  .hidden-xs {
    display: none;
  }

  .visible-xs {
    display: block;
  }

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
/*  .browser-top {
    height: 41px;
  }*/

  .visible-xs {
    display: none;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
/*  .browser-top {
    height: 49px;
  }*/

  .visible-xs {
    display: none;
  }
}

/* lg */
@media (min-width: 1200px) {
  .visible-xs {
    display: none;
  }
}
