<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <title>
    {% if page.title == "Home" %}
      Built With Ember
    {% else if %}
      {{ page.title }} &middot; Built With Ember
    {% endif %}
  </title>

  <link rel="shortcut icon" href="/img/favicon.png" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
</head>
<body>
  <div class="main-sidebar">
    <h1><a href="/" class="site-name">Built With Ember</a></h1>
    <p class="subtitle">Ambitious web applications<br>built using <a href="http://emberjs.com">ember.js</a>.</p>
    <p class="byline">Brought to you by <a href="http://blimp.io">Blimp</a></p>

    <hr class="main-sidebar-hr">

    <ul class="list-unstyled">
      <li class="nav-item">
        <a class="nav-link{% if page.title == "Home" %} nav-link-active{% endif %}" href="/">Home</a>
      </li>

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="nav-item">
              <a class="nav-link{% if page.url == node.url %} nav-link-active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="/about/#submit">Submit a site</a>
      </li>
    </ul>

    <hr class="main-sidebar-hr">

    <ul class="list-unstyled">
      <li class="nav-item">
        <a class="nav-link" href="http://eepurl.com/ZGHVT">Subscribe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/builtwithember">Twitter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed.xml">RSS</a>
      </li>
    </ul>
  </div>
  <div class="main-container">
    {{ content }}
  </div>
  {% include analytics.html %}
</body>
</html>
